{% extends 'admin-base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main class=" h-auto mb-auto">
    <section class="relative py-16 bg-gray-300 ">
        <div class="container mx-auto px-4  p-4  mt-6">

            <div class="w-full">
                <h1>Backend</h1>

                {% if error %}
                    <div class="alert alert-danger text-white" style="font-weight: bold;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full  p-4" method="post">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                            Benutzername
                        </label>
                        <br />
                        <input
                                class="appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="name"
                                type="text"
                                name="name"
                                placeholder="Benutzername"
                                value="{{ last_username }}"
                        />
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Passwort
                        </label>
                        <br />
                        <input
                                class="appearance-none border w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                id="password"
                                type="password"
                                name="password"
                                placeholder="Passwort"
                        />

                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="flex items-center justify-between">
                        <button class="btn btn-primary mt-4"
                                type="submit">
                            Anmelden
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
