<header class="desktop-header-1 d-flex align-items-start flex-column">
    <small style="font-weight: bold; ;">MENÜ</small>
    <!-- main menu -->
    <nav>
        <ul class="vertical-menu scrollspy">
            <li class="active"><a href="{{ url('home') }}"><i class="icon-home"></i>Startseite</a></li>
            <li><a href="#skills"><i class="icon-wrench"></i>Fähigkeiten</a></li>
            <li><a href="#cv"><i class="icon-graduation"></i>Lebenslauf</a></li>
            <li><a href="#projects"><i class="icon-folder"></i>Projekte</a></li>
            <li><a href="{{ url('imprint') }}"><i class="icon-doc"></i>Impressum</a></li>
            <li><a href="{{ url('data_privacy') }}"><i class="icon-doc"></i>Datenschutz</a></li>
        </ul>
    </nav>

    <!-- site footer -->
    <div class="footer">
        <!-- copyright text -->
        <span class="copyright">© 2021 Adrian Räuchle</span>
    </div>

</header>
