<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Adrian Räuchle - Web Developer!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/build/images/myAvatar.png">
</head>
<body class="h-screen flex flex-col justify-between bg-gray-300">
{% include 'partials/admin-navbar.html.twig' %}
{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
