<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Adrian Räuchle - Web Developer!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="/build/images/myAvatar.png">
    </head>
    <body class="h-screen flex flex-col justify-between bg-gray-300">
        {% include 'partials/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
